<h1 class="title">Rap-O-Matic Soundboard</h1>

<div class="row">
  <div class="rapper-container small-12 text-center medium-4 medium-offset-0 large-3 columns">
    <audio src="https://s3-us-west-2.amazonaws.com/rap-soundboard-audio/camron.mp3" class="sound"></audio>
    <%= image_tag "camron.png", :class => "shadow" %>
  </div>
  <div class="rapper-container small-12 text-center medium-4 medium-offset-0 large-3 columns">
    <audio src="https://s3-us-west-2.amazonaws.com/rap-soundboard-audio/juelz.mp3" class="sound"></audio>
    <%= image_tag "juelz.png", :class => "shadow" %>
  </div>
  <div class="rapper-container small-12 text-center medium-4 medium-offset-0 large-3 columns">
    <audio src="https://s3-us-west-2.amazonaws.com/rap-soundboard-audio/filedone.mp3" class="sound"></audio>
    <%= image_tag "snoop.png", :class => "shadow" %>
  </div>
  <div class="rapper-container small-12 text-center medium-4 medium-offset-0 large-3 columns">
    <audio src="https://s3-us-west-2.amazonaws.com/rap-soundboard-audio/method.mp3" class="sound"></audio>
    <%= image_tag "method-man.png", :class => "shadow" %>
  </div>
  <div class="rapper-container small-12 text-center medium-4 medium-offset-0 large-3 columns">
    <audio src="https://s3-us-west-2.amazonaws.com/rap-soundboard-audio/eminem.mp3" class="sound"></audio>
    <%= image_tag "eminem.png", :class => "shadow" %>
  </div>
  <div class="rapper-container small-12 text-center medium-4 medium-offset-0 large-3 columns">
    <audio src="https://s3-us-west-2.amazonaws.com/rap-soundboard-audio/weezy.mp3" class="sound"></audio>
    <%= image_tag "lil-wayne.png", :class => "shadow" %>
  </div>
  <div class="rapper-container small-12 text-center medium-4 medium-offset-0 large-3 columns">
    <audio src="https://s3-us-west-2.amazonaws.com/rap-soundboard-audio/wiz-k.mp3" class="sound"></audio>
    <%= image_tag "wiz-k.png", :class => "shadow" %>
  </div>
  <div class="rapper-container small-12 text-center medium-4 medium-offset-0 large-3 columns">
    <audio src="https://s3-us-west-2.amazonaws.com/rap-soundboard-audio/gucci.mp3" class="sound"></audio>
    <%= image_tag "gucci-mane.png", :class => "shadow" %>
  </div>
  <div class="rapper-container small-12 text-center medium-4 medium-offset-0 large-3 columns">
    <audio src="https://s3-us-west-2.amazonaws.com/rap-soundboard-audio/ghost.mp3" class="sound"></audio>
    <%= image_tag "ghost-face.png", :class => "shadow" %>
  </div>
  <div class="rapper-container small-12 text-center medium-4 medium-offset-0 large-3 columns">
    <audio src="https://s3-us-west-2.amazonaws.com/rap-soundboard-audio/+big.mp3" class="sound"></audio>
    <%= image_tag "biggie.png", :class => "shadow" %>
  </div>
  <div class="rapper-container small-12 text-center medium-4 medium-offset-0 large-3 columns">
    <audio src="https://s3-us-west-2.amazonaws.com/rap-soundboard-audio/mfdoom.mp3" class="sound"></audio>
    <%= image_tag "doom.png", :class => "shadow" %>
  </div>
  <div class="rapper-container small-12 text-center medium-4 medium-offset-0 large-3 columns">
    <audio src="https://s3-us-west-2.amazonaws.com/rap-soundboard-audio/nas.mp3" class="sound"></audio>
    <%= image_tag "nas.png", :class => "shadow" %>
  </div>
</div>
