<div class="spacer"></div>
<h1 class="title">Rap-O-Matic Soundboard</h1>
<div class="spacer"></div>
<div class="row">
  <div class="rapper-container small-12 text-center medium-4 medium-offset-0 large-3 columns">
    <%= image_tag "camron-overlay.png", :class => "hidden overlay" %>
    <%= image_tag "camron.png", :class => "shadow" %>
    <audio src="https://s3-us-west-2.amazonaws.com/rap-soundboard-audio/camron.mp3" class="sound"></audio>
  </div>
  <div class="rapper-container small-12 text-center medium-4 medium-offset-0 large-3 columns">
    <%= image_tag "juelz-overlay.png", :class => "hidden overlay" %>
    <%= image_tag "juelz.png", :class => "shadow" %>
    <audio src="https://s3-us-west-2.amazonaws.com/rap-soundboard-audio/juelz.mp3" class="sound"></audio>
  </div>
  <div class="rapper-container small-12 text-center medium-4 medium-offset-0 large-3 columns">
    <%= image_tag "method-man-overlay.png", :class => "hidden overlay" %>
    <%= image_tag "method-man.png", :class => "shadow" %>
    <audio src="https://s3-us-west-2.amazonaws.com/rap-soundboard-audio/method.mp3" class="sound"></audio>
  </div>
  <div class="rapper-container small-12 text-center medium-4 medium-offset-0 large-3 columns">
    <%= image_tag "eminem-overlay.png", :class => "hidden overlay" %>
    <%= image_tag "eminem.png", :class => "shadow" %>
    <audio src="https://s3-us-west-2.amazonaws.com/rap-soundboard-audio/eminem.mp3" class="sound"></audio>
  </div>
  <div class="rapper-container small-12 text-center medium-4 medium-offset-0 large-3 columns">
    <%= image_tag "lil-wayne-overlay.png", :class => "hidden overlay" %>
    <%= image_tag "lil-wayne.png", :class => "shadow" %>
    <audio src="https://s3-us-west-2.amazonaws.com/rap-soundboard-audio/weezy.mp3" class="sound"></audio>
  </div>
  <div class="rapper-container small-12 text-center medium-4 medium-offset-0 large-3 columns">
    <%= image_tag "gucci-mane-overlay.png", :class => "hidden overlay" %>
    <%= image_tag "gucci-mane.png", :class => "shadow" %>
    <audio src="https://s3-us-west-2.amazonaws.com/rap-soundboard-audio/gucci.mp3" class="sound"></audio>
  </div>
  <div class="rapper-container small-12 text-center medium-4 medium-offset-0 large-3 columns">
    <%= image_tag "wiz-k-overlay.png", :class => "hidden overlay" %>
    <%= image_tag "wiz-k.png", :class => "shadow" %>
    <audio src="https://s3-us-west-2.amazonaws.com/rap-soundboard-audio/wiz-k.mp3" class="sound"></audio>
  </div>
  <div class="rapper-container small-12 text-center medium-4 medium-offset-0 large-3 columns">
    <%= image_tag "ghost-face-overlay.png", :class => "hidden overlay" %>
    <%= image_tag "ghost-face.png", :class => "shadow" %>
    <audio src="https://s3-us-west-2.amazonaws.com/rap-soundboard-audio/ghost.mp3" class="sound"></audio>
  </div>
  <div class="rapper-container small-12 text-center medium-4 medium-offset-0 large-3 columns">
    <%= image_tag "biggie-overlay.png", :class => "hidden overlay" %>
    <%= image_tag "biggie.png", :class => "shadow" %>
    <audio src="https://s3-us-west-2.amazonaws.com/rap-soundboard-audio/+big.mp3" class="sound"></audio>
  </div>
  <div class="rapper-container small-12 text-center medium-4 medium-offset-0 large-3 columns">
    <%= image_tag "doom-overlay.png", :class => "hidden overlay" %>
    <%= image_tag "doom.png", :class => "shadow" %>
    <audio src="https://s3-us-west-2.amazonaws.com/rap-soundboard-audio/mfdoom.mp3" class="sound"></audio>
  </div>
  <div class="rapper-container small-12 text-center medium-4 medium-offset-0 large-3 columns">
    <%= image_tag "nas-overlay.png", :class => "hidden overlay" %>
    <%= image_tag "nas.png", :class => "shadow" %>
    <audio src="https://s3-us-west-2.amazonaws.com/rap-soundboard-audio/nas.mp3" class="sound"></audio>
  </div>
  <div class="rapper-container small-12 text-center medium-4 medium-offset-0 large-3 columns">
    <%= image_tag "aol-overlay.png", :class => "hidden overlay" %>
    <%= image_tag "aol.png", :class => "shadow" %>
    <audio src="https://s3-us-west-2.amazonaws.com/rap-soundboard-audio/filedone.mp3" class="sound"></audio>
  </div>
</div>
<div class="spacer bottom"></div>
<p class="footer">Brought to you by <a href="http://bradybryan.com">Brady Bryan</a></p>

